---
---
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
        <title>Niklas Dewally</title>
    </head>
    
    <body>
        {% include navigation.html %}
        <main>
            <h1>Niklas Dewally</h1>
            <hr>
            <p>I am an undergraduate computer science student at University of St Andrews.</p>
        {% include contacticons.html %}
        </main>
    </body>
</html>