@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');

:root {
  --bg: #f2f0e6;
  --accent: #26428b;
  --accent-highlight: #6495ed;
  --analogous: #6c337e;
  --analogous-highlight: #a87bd6;
}

html {
    background:var(--bg);
}

/* http://bettermotherfuckingwebsite.com/ */

body {
    line-height: 1.5;
    margin: 40px auto;
    max-width: 80em;
    padding: 0 10px;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    font-size: 16px;
}

h1,h2,h3,h4,h5 { line-height:1.2;}

/* CONTACT DETAILS */

a:link {
  color: var(--accent);
}

a:active , a:hover {
  color: var(--accent-highlight);
}

a:visited {
  color: var(--analogous-highlight);
}

a:visited:hover {
  color: var(--accent-highlight);
}

.tagline {
  font-weight:600;
  font-style: normal;
  margin-bottom: 1.2em;

}
/* NAV */

/*
nav > a {
    font-size:0.8rem;
    margin-right: 1em;
}
*/


address {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 16px;
}

address a:visited{
  color: var(--accent);
}

address a:visited:hover{
  color: var(--accent-highlight);
}

address a {
    margin-left:0.5rem ;
    margin-right:0.5rem ;
}
