/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&display=swap');


:root {
  --bg: #f2f0e6;
  --accent: #26428b;
  --accent-highlight: #6495ed;
  --analogous: #6c337e;
  --analogous-highlight: #a87bd6;
}

html {
    background:var(--bg);
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    line-height: 1.5;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      width: 100vw;
    height: 100vh;

}

main {
    max-width: 50rem;
}

/* aside {
      float:left; 
      margin:0;
      margin-right: 2em; 
      max-width: 30em;} */


/* Paragraph Spacing */
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* HEADERS */
/* Make header wrap see: https://stackoverflow.com/a/54126229 */

h1,
h2,
h3,
h4,
h5 {
    line-height: inherit;
}

h1 {
    /*font-size: 3.5em;*/
    font-size: 2rem;
    font-weight: 600;
}
*/
/* Override tables to inherit from our settings */
/* (this appeared larger than the rest on android!) */
table,
p,
a,
ul,
ol {
    font-size: 1rem;
}


.tagline {
  font-weight:400;
  font-style: normal;

}
/* NAV */
nav {
        /* border-bottom: 1px solid black; */
}

nav > a {
    font-size:0.8rem;
    margin-right: 1em;
}

/* CONTACT DETAILS */

a:link {
  color: var(--accent);
}

a:active , a:hover {
  color: var(--accent-highlight);
}

a:visited {
  color: var(--analogous-highlight);
}

a:visited:hover {
  color: var(--accent-highlight);
}

address {
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 16px;
}

address a:visited{
  color: var(--accent);
}

address a:visited:hover{
  color: var(--accent-highlight);
}

address a {
    margin-left:0.5rem ;
    margin-right:0.5rem ;
}

/* MOBILE */
@media screen and (max-width:800px) {
    html {
        font-size: 16px;
        margin-left: 1%;
        margin-right: 1%;
    }
}


/*Dark mode*/
/* @media (prefers-color-scheme: dark) {
      html {
        background-color: #1F2022;
        color: antiquewhite;
      }
    a {color: lightskyblue;}

    } *
